<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milk Quality Classifier</title>

    <!-- Bootstrap Style -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="static/style4.css">

</head>
<body>
<br>
<h1 class="text-center mb-4">Charts</h1>
<br>
<br>
<div class="container">
    <!-- Display Histogram and Pie Chart side by side using Bootstrap grid -->
    <div class="row">
        <!-- Histogram -->
        <div class="col-md-6">
            <h2 class="text-center mb-4">Pie Chart (Milk Quality)</h2>
            <img src="data:image/png;base64,{{ pie_chart_img }}" class="img-fluid" alt="Pie Chart">
        </div>


        <!-- Pie Chart -->
        <div class="col-md-6">
            <h2 class="text-center mb-4">Histogram (Calories Burnt)</h2>
            <img src="data:image/png;base64,{{ histogram_img }}" class="img-fluid" alt="Histogram">
        </div>
    </div>
</div>
<br>

</body>
</html>